@tailwind base;
@tailwind components;
@tailwind utilities;


/* Base Styles */
@layer base {
  /* Home Page Styles*/
   .nav-link {
    @apply text-white text-lg font-bold;
  }

  .main-p {
    @apply text-white text-sm mr-5;

  }

  .main-span {
    @apply text-white text-sm block mt-5;
  } 

  /* Product Page Card */
  .products-heading{
    @apply text-black font-bold text-center pb-10;
    font-size: clamp(2rem, 5vw, 2.5rem);
  } 

  .prdt-name {
    @apply text-black text-lg font-bold m-2;
  }

  .prdt-des {
    @apply font-light text-sm;
  }
  
/* About Styles */

.about-h4 {
  @apply text-black font-bold text-3xl;

 }

 .about-p {
  @apply text-[1rem] text-gray-500 max-w-md;
 
 }

 /* Note Page */
 .note-h4 {
  @apply text-white font-bold text-center flex-shrink-0;
  font-size: clamp(0.90rem, 2vw, 2.5rem); 
  line-height: 1.4;  
  max-width: 100%;
 }

 /* Blog */
 .blog-h4 {
  @apply text-black font-bold text-3xl text-center m-10;
}

.blog-head{
  @apply text-lg font-bold text-center my-2;
}

.blog-parag {
  @apply text-lg text-center my-2;
} 


}
/*  complicated styles */


@layer components {
  /* Home Page Styles */

    .container-div {
    @apply overflow-hidden;
  }  

  .header-styles {
    @apply flex justify-around items-center pt-6;
   
  }

  .logo-div {
    @apply justify-center items-center;
  }
 
  .logo {
    @apply w-full h-auto min-w-[90px];
    filter: invert(100%) brightness(200%);
  }


   .nav {
    @apply flex justify-between items-center gap-10;
  }

  .nav-menu {
    @apply flex  ml-72;
  }

  .nav-link {
    @apply hidden;
  }  


  .main-h1 {
    font-size: clamp(2.3rem, 5vw, 4.5rem);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 8px;
  }

  .main-styles {
    @apply flex justify-around items-center  mt-10 flex-wrap-reverse max-w-[95%] gap-10;
  }

  .main-text {
    @apply flex flex-col w-[40%] min-w-[410px] justify-center items-center;
  }

  .main-btn {
    @apply bg-white text-[#d35400] py-2 px-4 mt-4;
  }

  .main-img-div{
    @apply flex w-[30%] min-w-[30px];
  }

 /* Product Page Styles */
   .products-page {
    @apply bg-[#f3f4f6] flex flex-col justify-around items-center flex-wrap;
  }  

  .p-heading-div {
    @apply flex justify-center items-center pt-20;
  }


  .product-main {
   @apply flex flex-wrap gap-16 justify-center items-center p-4;
  } 
  


 .product-card {
  @apply flex flex-col justify-around items-center p-4 rounded-xl shadow-2xl text-center w-[27%] min-w-[270px] bg-white;

 }

 .prdt-btn {
  @apply border-2 border-separate border-[#f7741d] px-6 py-2 rounded-md text-[#f7741d] m-2 hover:bg-[#f7741d] hover:text-white;
 }

 /* About Page Styles */
 .about-page {
  @apply flex flex-wrap justify-center items-center gap-10 pt-10;
 }

 .about-images {
  @apply flex flex-col justify-center items-center
   w-[55%] relative;
 }

 .splash-img {
  @apply absolute bottom-0 -z-10;
 }

 .about-text {
  @apply flex flex-col w-[35%] gap-5 justify-start items-start;
 }

  .about-btn {
    @apply border-2 border-separate border-[#f7741d] px-6 py-2 rounded-md text-[#f7741d] m-2 hover:bg-[#f7741d] hover:text-white;
 } 

/* Note Section  */
 .note-section {
  @apply border rounded-xl flex justify-center items-center py-6 px-6 bg-[#f7741d] mx-auto mt-20 hover:scale-105 transition-transform duration-300 ease-in-out w-[80%];
 }

 /* Blog Page */
 .blog-page {
@apply  mx-auto;
}

.blog-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  
  gap: 40px;
  padding: 10px;
  margin: 20px;
}

.blog-card {
@apply flex flex-col justify-between items-center rounded-lg p-2 shadow-2xl mx-auto;
}

.blog-img  {
  @apply object-cover w-full;
}

}
/* Responsiveness */

@layer utilities {
  /* Home Page */
  @screen md {
    .nav-menu {
      @apply hidden;
    }
    
   .nav-link {
    @apply flex;
  }  

} 

@media (max-width: 767px) { /* Tailwind's sm breakpoint max */
  .nav-menu {
    @apply flex  ml-36;
  }
  .main-text {
      @apply w-full text-center mx-auto;
  }
  .about-text {
    @apply justify-center items-center mx-5 w-full;
  }

}
 
}